.plus-container {
  position: relative;
  cursor: pointer;
}
.plus-container::after {
  content: '';
  background: orangered;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  cursor: pointer;
  transition: 0.7s;
}
.plus-container:hover::after {
  height: 100%;
}
.plus-sign {
  transition: 0.5s;
  transform-origin: center;
}
.plus-container:hover > .plus-sign {
  transform: scale(1.5);
}
.plus-sign {
  z-index: 10;
  cursor: pointer;
}
aside {
  transition: 0.5s;
}

.fadeIn {
  animation: fadeIn 1s forwards;
}
.fadeIn-text {
  animation: fadeIn-text 1s forwards;
}
.fade-out {
  animation: fadeIn 1s reverse forwards;
}
@keyframes fadeIn {
  0% {
    transform: translateX(-50px) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dom-book::after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  background: darkblue;
  z-index: -1;
  transition: 1s;
  bottom: 0;
}
.dom-book:hover::after {
  height: 100%;
}
